@model UCRMS_Version2.Models.Student

@{
    ViewBag.Title = "Save Student Result";
}
<link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
<style>
    label.error, .messageLabel {
        color: #B94A48;
        font-style: normal;
        font-family: Helvetica;
        font-size: 12px;
    }
</style>
<h2>Save Student Result</h2>
@using (Html.BeginForm("SaveResult", "Student", FormMethod.Post, new {Id="saveResultForm"}))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.Id, "Student Reg. No.", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("StudentId", null, "--Select a Student--", htmlAttributes: new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Id, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@disabled = "disabled", @readonly = "readonly", @class = "form-control"}})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@disabled = "disabled", @readonly = "readonly", @class = "form-control"}})
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Department", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.Editor("DepartmentCode", new {htmlAttributes = new {@disabled = "disabled", @readonly = "readonly", @class = "form-control"}})
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Select a Course", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("CourseId", new SelectList(string.Empty, "Value", "Text"), "", new {@class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Select Grade Letter", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("GradeId", null, "--Select a Grade--", htmlAttributes: new {@class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="submit" name="submit" type="submit" value="Save" class="btn btn-success"/>
            </div>
        </div>
        <div class="form-group" id="message">
            <div class="col-md-offset-2 col-md-10" style="color: GREEN">
                <label>@ViewBag.SuccessMessage</label>
            </div>
        </div>
    </div>
}


@section scripts
{
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#message').delay(20000).fadeOut();
            $("#saveResultForm").validate({
                rules: {
                    StudentId: "required",
                    CourseId: "required",
                    GradeId: "required"
                },
                messages: {
                    StudentId: "Please select a Student",
                    CourseId: "Please select a Course",
                    GradeId: "Please select a Grade"
                }
            });
            $("#StudentId").change(function () {
                var stdntId = $("#StudentId").val();
                $("#Name").val("");
                $("#Email").val("");
                $("#DepartmentCode").val("");
                var json = { studentId: stdntId };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetStudentInfoByStudentId", "Student")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    //data: jQuery.parseJSON(json),
                    datatype: 'json',
                    success: function (data) {
                        //alert(data);

                        $.each(data, function (i, value) {
                            //alert(key);
                            $("#Name").val(value.name);
                            $("#Email").val(value.email);
                            $("#DepartmentCode").val(value.department);

                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve Student Information' + ex);
                    }
                });
            });


            $("#StudentId").change(function () {

                var stdntId = $("#StudentId").val();
                $("#CourseId").empty();

                var json = { studentId: stdntId };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetEnrollCoursesByStudentId", "Student")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    datatype: 'json',
                    success: function (data) {
                        $("#CourseId").append('<option value="">--Select Course-- </option>');
                        $.each(data, function (i, value) {
                            $("#CourseId").append('<option value=' + value.Value + '>' + value.Text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve Courses' + ex);
                    }
                });
            });
          


        });
    </script>
}
